

.form-main {
    padding: 100px;
}

.card-header{
    text-align: center;
}

#alert-success{
    text-align: center;
    display: none;
}

#alert-success{
    text-align: center;
    display: none;
}